body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060c11;
  color:#85bc37;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
	color:#85bc37;
}
a:hover {
	color:#ffffff;
}
/** custom elements */
.carousel{
  background: rgba(19, 31, 21, 0.78);
  margin-top: 20px;
}
.carousel-item{
  text-align: center;
  min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel-caption{
	text-shadow: 1px 1px #000000;
}